<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style type='text/css'>
    @page {
        size: A4;
        margin: 2.0cm 2.0cm 2.0cm 2.0cm;
        padding: 2.0cm;

    }


</style>
</head>
<body>
    {% for item in items_list %}
        <div>
            {{ item.name }}<br />
            Data line 2<br />
            Data line 3<br />
            Data line 4<br />
            Data line 5<br />
            Data line 6<br />
            Data line 7<br />
            Data line 8<br />
            Data line 9<br />
            Data line 10<br />
        </div>
    {% endfor %}
</body>
</html>